@import 'tailwindcss';

@theme {
    --breakpoint-sm: 48rem;
    --color-background: #0f1011;
    --color-gray-dark: rgb(32, 32, 32);
    --color-gray-neutral: rgb(38, 38, 38);
    --color-text-primary: rgb(24, 176, 171);
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

button {
    cursor: pointer;
}

body {
    background: var(--color-background);
    color: #ffffff;
}

.scaleOnHover {
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transition: scale 200ms;
}

.scaleOnHover:hover {
    scale: 1.05;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    top: 130%;
    left: 50%;
    right: 50%;
    width: fit-content;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 2px 10px;
    background: #fff;
    color: #000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 300ms,
        visibility 300ms;
    word-wrap: break-word;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.filepond--item {
    width: calc(33.33% - 0.5em);
}

.ReactTags__selected {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    z-index: 1000;
}

.ReactTags__tag {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-gray-dark);
    border-radius: 6px;
    padding: 6px;
}

.ReactTags__remove svg {
    width: 10px;
    height: 10px;
}

.ReactTags__tagInput {
    position: relative;
    flex: 1;
}

.ReactTags__tagInputField {
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
}

.ReactTags__suggestions {
    position: absolute;
    left: 0;
    z-index: 1000;
    border: solid 1px #999;
    width: 100%;
    padding: 6px;
    color: black;
    border-radius: 6px;
    background-color: #fff;
}

.ReactTags__suggestions li {
    padding: 4px;
    border-radius: 6px;
}

.ReactTags__activeSuggestion {
    background-color: rgb(0, 0, 0, 0.2);
}
