@import 'tailwindcss';

@theme {
    --breakpoint-sm: 48rem;
    --color-background: #0f1011;
}

button {
    cursor: pointer;
}

body {
    background: var(--color-background);
    color: #ffffff;
}

.scaleOnHover {
    will-change: transform;
    transition: scale 200ms;
}

.scaleOnHover:hover {
    scale: 1.05;
}

.tooltip::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    top: 130%;
    left: -50%;
    right: -50%;
    border-radius: 5px;
    padding: 2px 10px;
    background: #fff;
    color: #000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 300ms,
        visibility 300ms;
    word-wrap: break-word;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
