@import 'tailwindcss';

@theme {
    --breakpoint-sm: 48rem;
    --color-background: #0f1011;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

button {
    cursor: pointer;
}

body {
    background: var(--color-background);
    color: #ffffff;
}

.scaleOnHover {
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transition: scale 200ms;
}

.scaleOnHover:hover {
    scale: 1.05;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    top: 130%;
    left: 50%;
    right: 50%;
    width: fit-content;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 2px 10px;
    background: #fff;
    color: #000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 300ms,
        visibility 300ms;
    word-wrap: break-word;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
